.hovereffect-orange {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 0 5px;
  border:1px solid #ccc;
}
.hovereffect-orange .overlay {
    height: 100%;
    left: 0%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: scale(0, 1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 100%;
}
.hovereffect-orange2 {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 0 8px;
  border:1px solid #ccc;
}
.hovereffect-orange2 .overlay2 {
    height: 100%;
    left: 0%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: scale(0, 1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 100%;
}
.hovereffect-orange .overlay a{color:#fff; border:1px solid #fff;padding:10px;}
.hovereffect-orange .overlay .fa{color:#fff;margin-top:100px;font-size:1.5em;}
.hovereffect-orange2 .overlay2 .fa{color:#fff;margin-top:110px;font-size:1.5em;}
.hovereffect-orange2 .overlay2 a{color:#fff; border:1px solid #fff;padding:10px;}
.hovereffect-orange:hover .overlay {
  opacity: 0.8;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
    background-color:#eea05c;
}
.hovereffect-orange2:hover .overlay2 {
  opacity: 0.8;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
    background-color:#eea05c;
}
/*Media Queries*/
@media screen and (max-width: 767px) {
.hovereffect-orange {
  float:none;
  padding-left:15px;
  padding-right:15px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .hovereffect-orange .overlay .fa{margin-top:60px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
